*{background-color:pink;}

h1 {
    font-size: 3rem;
    color:red;
    text-align: center;
    text-decoration: underline; 
    font-style: oblique;
}

h2 {

font-size: 2rem;
font-weight: 500;
text-decoration: underline;

}

p{
    background-color: rgb(255, 158, 158);
    color:rgb(0, 0, 0); 
}

li{
background-color:rgb(255, 151, 169);

}



